{#
/**
 * @file
 * Default theme implementation for gliderjs.
 *
 * Available variables:
 * - slider_id: The slider container element id.
 * - rows: The views rows to use for the carousel.
 *
 * @see template_preprocess_gliderjs()
 *
 * @ingroup themeable
 */
#}
<div data-quickedit-entity-id="block_content/184" class="asu-image-carousel-container block block-layout-builder block-inline-blockcarousel-image" id="asu-image-carousel-container-6860337227315319327">
<div id="imageCarouselContainer6860337227315319327" class="image-carousel-containerr">
<div class="glide image-carousel aligned-carousel slider-start glide--ltr glide--slider glide--swipeable" id="glide-3851" style="max-width: 800px;" data-remove-side-background="false" data-image-auto-size="true" data-has-shadow="true" data-current-index="0">
   
<div class="glider-contain">
  <div id="{{ slider_id }}" class="glider" data-gliderjs-module>
    {% for row in rows %}
      {{ row }}
    {% endfor %}
  </div>
  <div role="tablist" class="{{ slider_id }}-dots glider-dots"></div> 

<div class="glide__arrows" data-glide-el="controls" data-testid="arrows-container">
  <button type="button" class="glide__arrow glide__arrow--prev  glide__arrow--disabled {{ slider_id }}-prev glider-prev " data-glide-dir="left" aria-label="Previous slide">
    <span class="fas fa-chevron-left arrow-icon"></span>
  </button>
  <button type="button" class="glide__arrow glide__arrow--next {{ slider_id }}-next glider-next" data-glide-dir="right" aria-label="Next slide">
    <span class="fas fa-chevron-right arrow-icon"></span>
  </button>
</div>
</div>

</div>
</div>
</div>


<div data-quickedit-entity-id="block_content/184" class="asu-image-carousel-container block block-layout-builder block-inline-blockcarousel-image" id="asu-image-carousel-container-6860337227315319327">
<div id="imageCarouselContainer68603372273153193" class="image-carousel-containerr">
<div class="glide image-carousel aligned-carousel slider-start glide--ltr glide--slider glide--swipeable" id="glide-3851" style="max-width: 800px;" data-remove-side-background="false" data-image-auto-size="true" data-has-shadow="true" data-current-index="0">
    <div class="glide__track slider-start" data-glide-el="track">
        <ul class="glide__slides" style="transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; width: 3640px; transform: translate3d(48px, 0px, 0px);">
            <li class="glide__slide slider glide__slide--active" style="width: 704px; margin-right: 12px;">
                <div class="uds-img">
                    <figure class="figure uds-figure">
                        <img src="https://source.unsplash.com/random/800x400?a=1" class="uds-img figure-img img-fluid" alt="Random image with caption below. REPLACE with appropriate alt text for accessibility.">
                        <figcaption class="figure-caption uds-figure-caption" data-testid="image-content-container">
                            <div class="uds-caption-text">
                                <h3>Content 1</h3>
                                <div>
                                    <p>Body copy goes here. Limit to 5 lines max. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua eiusmod tempo.
                                    </p>
                                    <p>Another line of content</p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            <li class="glide__slide slider glide__slide--active" style="width: 704px; margin-right: 12px;">
                <div class="uds-img">
                    <figure class="figure uds-figure">
                        <img src="https://source.unsplash.com/random/800x400?a=1" class="uds-img figure-img img-fluid" alt="Random image with caption below. REPLACE with appropriate alt text for accessibility.">
                        <figcaption class="figure-caption uds-figure-caption" data-testid="image-content-container">
                            <div class="uds-caption-text">
                                <h3>Content 1</h3>
                                <div>
                                    <p>Body copy goes here. Limit to 5 lines max. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua eiusmod tempo.
                                    </p>
                                    <p>Another line of content</p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            <li class="glide__slide slider glide__slide--active" style="width: 704px; margin-right: 12px;">
                <div class="uds-img">
                    <figure class="figure uds-figure">
                        <img src="https://source.unsplash.com/random/800x400?a=1" class="uds-img figure-img img-fluid" alt="Random image with caption below. REPLACE with appropriate alt text for accessibility.">
                        <figcaption class="figure-caption uds-figure-caption" data-testid="image-content-container">
                            <div class="uds-caption-text">
                                <h3>Content 1</h3>
                                <div>
                                    <p>Body copy goes here. Limit to 5 lines max. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua eiusmod tempo.
                                    </p>
                                    <p>Another line of content</p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
            <li class="glide__slide slider glide__slide--active" style="width: 704px; margin-right: 12px;">
                <div class="uds-img">
                    <figure class="figure uds-figure">
                        <img src="https://source.unsplash.com/random/800x400?a=1" class="uds-img figure-img img-fluid" alt="Random image with caption below. REPLACE with appropriate alt text for accessibility.">
                        <figcaption class="figure-caption uds-figure-caption" data-testid="image-content-container">
                            <div class="uds-caption-text">
                                <h3>Content 1</h3>
                                <div>
                                    <p>Body copy goes here. Limit to 5 lines max. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua eiusmod tempo.
                                    </p>
                                    <p>Another line of content</p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </li>
        </ul>
    </div>
    <div role="group" class="glide__bullets" data-glide-el="controls[nav]" data-testid="bullets-container">
        <button type="button" class="glide__bullet glide__bullet--active" data-glide-dir="=0" aria-label="Slide view 1"></button>
        <button type="button" class="glide__bullet" data-glide-dir="=1" aria-label="Slide view 2"></button>
        <button type="button" class="glide__bullet" data-glide-dir="=2" aria-label="Slide view 3"></button>
        <button type="button" class="glide__bullet" data-glide-dir="=3" aria-label="Slide view 4"></button>
        <button type="button" class="glide__bullet" data-glide-dir="=4" aria-label="Slide view 5"></button>
    </div>
    <div class="glide__arrows" data-glide-el="controls" data-testid="arrows-container">
        <button type="button" class="glide__arrow glide__arrow--prev glide__arrow--disabled" data-glide-dir="left" aria-label="Previous slide">
            <svg class="svg-inline--fa fa-chevron-left fa-w-10 arrow-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                <path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path>
            </svg><!-- <span class="fas fa-chevron-left arrow-icon"></span> Font Awesome fontawesome.com -->
        </button>
        <button type="button" class="glide__arrow glide__arrow--next" data-glide-dir="right" aria-label="Next slide">
            <svg class="svg-inline--fa fa-chevron-right fa-w-10 arrow-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">

                </path>
            </svg><!-- <i class="fas fa-chevron-right arrow-icon"></i> Font Awesome fontawesome.com -->
        </button>
    </div>
</div>
</div>
</div>

<div data-quickedit-entity-id="block_content/184" class="asu-image-carousel-container block block-layout-builder block-inline-blockcarousel-image" id="asu-image-carousel-container-6860337227315319327">
  
    
  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--field-anchor-menu-settings--full.html.twig
   * field--block-content--field-anchor-menu-settings--carousel-image.html.twig
   * field--block-content--field-anchor-menu-settings.html.twig
   * field--block-content--carousel-image.html.twig
   * field--field-anchor-menu-settings.html.twig
   * field--entity-reference-revisions.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/composer/webspark-theme-renovation/templates/field/field.html.twig' -->
  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'paragraph' -->
<!-- FILE NAME SUGGESTIONS:
   * paragraph--anchor-menu-settings--default.html.twig
   x paragraph--anchor-menu-settings.html.twig
   * paragraph--default.html.twig
   * paragraph.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/composer/webspark-theme-renovation/templates/paragraphs/paragraph--anchor-menu-settings.html.twig' -->

<!-- END OUTPUT from 'themes/composer/webspark-theme-renovation/templates/paragraphs/paragraph--anchor-menu-settings.html.twig' -->



<!-- END OUTPUT from 'themes/composer/webspark-theme-renovation/templates/field/field.html.twig' -->


  
  <div id="imageCarouselContainer686033722731531" class="image-carousel-containerr"><div class="glide image-carousel aligned-carousel slider-start glide--ltr glide--slider glide--swipeable" id="glide-5527" data-remove-side-background="false" data-image-auto-size="true" data-has-shadow="true" data-current-index="0"><div class="glide__track slider-start" data-glide-el="track"><ul class="glide__slides" style="transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; width: 1812px; transform: translate3d(124px, 0px, 0px);"><li class="glide__slide slider glide__slide--active" style="width: 588px; margin-right: 12px;"><div class="uds-img"><figure class="figure uds-figure"><img src="https://asu-news-d9-4.ddev.site/sites/default/files/2022-05/0t8a6505_2mp.jpg" class="uds-img figure-img img-fluid"><figcaption class="figure-caption uds-figure-caption" data-testid="image-content-container"><div class="uds-caption-text"><h3>TEST Title</h3><div><p>Test formatted text</p>
</div></div></figcaption></figure></div></li><li class="glide__slide slider" style="width: 588px; margin-left: 12px; margin-right: 12px;"><div class="uds-img"><figure class="figure uds-figure"><img src="https://asu-news-d9-4.ddev.site/sites/default/files/anjanette-griego-courtesy.jpg" class="uds-img figure-img img-fluid" alt="Courtesy image of graduating ASU student Anjanette Griego"><figcaption class="figure-caption uds-figure-caption" data-testid="image-content-container"><div class="uds-caption-text"><h3>title 2</h3><div><p>text 2</p>
</div></div></figcaption></figure></div></li><li class="glide__slide slider" style="width: 588px; margin-left: 12px;"><div class="uds-img"><figure class="figure uds-figure"><img src="https://asu-news-d9-4.ddev.site/sites/default/files/sa_mej_0.jpg" class="uds-img figure-img img-fluid"><figcaption class="figure-caption uds-figure-caption" data-testid="image-content-container"><div class="uds-caption-text"><h3>title 3</h3><div><p>text 3</p>
</div></div></figcaption></figure></div></li></ul></div><div role="group" class="glide__bullets" data-glide-el="controls[nav]" data-testid="bullets-container"><button type="button" class="glide__bullet glide__bullet--active" data-glide-dir="=0" aria-label="Slide view 1"></button><button type="button" class="glide__bullet" data-glide-dir="=1" aria-label="Slide view 2"></button></div><div class="glide__arrows" data-glide-el="controls" data-testid="arrows-container"><button type="button" class="glide__arrow glide__arrow--prev glide__arrow--disabled" data-glide-dir="<" aria-label="Previous slide"><svg class="svg-inline--fa fa-chevron-left fa-w-10 arrow-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg><!-- <span class="fas fa-chevron-left arrow-icon"></span> Font Awesome fontawesome.com --></button><button type="button" class="glide__arrow glide__arrow--next" data-glide-dir=">" aria-label="Next slide"><svg class="svg-inline--fa fa-chevron-right fa-w-10 arrow-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <i class="fas fa-chevron-right arrow-icon"></i> Font Awesome fontawesome.com --></button></div></div></div>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'field' -->
<!-- FILE NAME SUGGESTIONS:
   * field--field-carousel-card--full.html.twig
   * field--block-content--field-carousel-card--carousel-image.html.twig
   * field--block-content--field-carousel-card.html.twig
   * field--block-content--carousel-image.html.twig
   * field--field-carousel-card.html.twig
   * field--entity-reference-revisions.html.twig
   x field.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/composer/webspark-theme-renovation/templates/field/field.html.twig' -->
  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'paragraph' -->
<!-- FILE NAME SUGGESTIONS:
   * paragraph--gallery-image--default.html.twig
   * paragraph--gallery-image.html.twig
   * paragraph--default.html.twig
   x paragraph.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/composer/webspark-theme-renovation/templates/paragraphs/paragraph.html.twig' -->
  <div data-quickedit-entity-id="paragraph/139191" class="paragraph paragraph--type--gallery-image paragraph--view-mode--default">
          
      </div>

<!-- END OUTPUT from 'themes/composer/webspark-theme-renovation/templates/paragraphs/paragraph.html.twig' -->


  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'paragraph' -->
<!-- FILE NAME SUGGESTIONS:
   * paragraph--gallery-image--default.html.twig
   * paragraph--gallery-image.html.twig
   * paragraph--default.html.twig
   x paragraph.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/composer/webspark-theme-renovation/templates/paragraphs/paragraph.html.twig' -->
  <div data-quickedit-entity-id="paragraph/139192" class="paragraph paragraph--type--gallery-image paragraph--view-mode--default">
          
      </div>

<!-- END OUTPUT from 'themes/composer/webspark-theme-renovation/templates/paragraphs/paragraph.html.twig' -->


  

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'paragraph' -->
<!-- FILE NAME SUGGESTIONS:
   * paragraph--gallery-image--default.html.twig
   * paragraph--gallery-image.html.twig
   * paragraph--default.html.twig
   x paragraph.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/composer/webspark-theme-renovation/templates/paragraphs/paragraph.html.twig' -->
  <div data-quickedit-entity-id="paragraph/139193" class="paragraph paragraph--type--gallery-image paragraph--view-mode--default">
          
      </div>

<!-- END OUTPUT from 'themes/composer/webspark-theme-renovation/templates/paragraphs/paragraph.html.twig' -->



<!-- END OUTPUT from 'themes/composer/webspark-theme-renovation/templates/field/field.html.twig' -->


</div>

