{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page page-wrapper-webspark">
  <main class="pt-5">
    {% if page.header %}
      <div class="container">
        {{ page.header }}
      </div>
    {% endif %}

    {% if page.pre_content %}
      <div class="page__pre-content">
        <div class="container">
          {{ page.pre_content }}
        </div>
      </div>
    {% endif %}

    {% if page.content %}
      <div id="skip-to-content" class="page__content">
        {{ page.content }}
      </div>
    {% endif %}
  </main>

  {% if page.stayuptodate %}
    <div id="stayuptodate" class="stayuptodate__wrapper">
      <div class="stayuptodate__wrapper__shade pt-12 pb-12">
        <div class="container">
          {{ page.stayuptodate }}
        </div>
      </div>
    </div>
  {% endif %}

  {% if page.footer %}
    <footer class="page__footer" id="asu-footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
