{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

{% set data = {
  'background': 'gray-6',
  'heading': 'Data Dictionary',
  'content': 'Metadata and definitions for Data Tables and Columns',
} %}

<style>
  #{{ exposed['#id'] }}  #edit-actions {
    margin-bottom: 24px;
    margin-top: 24px;
    display: none;
  }

  {# TODO: Globalize these styles #}
  .select2-container--default .select2-selection--multiple {
    border-radius: 0;
    border: 1px solid #747474 !important;
    color: #191919;
    padding: 0 !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-height: 42px;
  }

  .select2-container .select2-search--inline .select2-search__field {
    margin-top: 0;
    margin-left: 0;
    min-height: 42px;
    vertical-align: middle;
    padding-left: 1rem !important;
    padding: 0.5rem;
  }

  .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
  }
</style>

<div{{ attributes.addClass(classes) }}>
  {{ include('@analytics/hero-image.html.twig', data) }}

  <div class="container tw-py-24">
    <div class="row">
      <div class="col">
        {{ title_prefix }}
        {{ title }}
        {{ title_suffix }}

        {% if header %}
          <header>
            {{ header }}
          </header>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="extra-search" class="tw-py-4">
          {{ include('@analytics/input-index-search.twig') }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3">
        <h3 class="tw-mt-0">Filters</h3>
        <div id="extra-actions" class="tw-py-4" style="border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5">
          {{ exposed.actions }}
        </div>
        {# TODO: Add the visually hidden class from the search field #}
        {{ exposed }}
      </div>

      <div class="col">
        <div class="tw-flex tw-items-baseline">
          <h3 class="tw-mt-0">Results</h3>
          {% if footer %}
            <span class="tw-text-sm tw-ml-2">
              {{ footer }}
            </span>
          {% endif %}
        </div>

        {{ attachment_before }}

        {% if rows -%}
          {{ rows }}
        {% elseif empty -%}
          {% embed '@radix/alert/alert.twig' with {
            type: 'warning',
            heading: false,
            content: empty,
            alert_utility_classes: ['view-empty']
          } %}
          {% endembed %}
        {% endif %}

        {{ pager }}
        {{ attachment_after }}
        {{ more }}
      </div>
    </div>
  </div>
</div>

<script>
  // TODO: Consolidate this into the same template as Global Search
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById("{{ exposed['#id'] }}");
    const submit = document.querySelector("#{{ exposed['#id'] }} .js-form-submit");
    const extraSubmit = document.querySelector('#extra-actions .js-form-submit');
    const search = document.getElementById('index-search');
    const searchHidden = document.getElementById('edit-search');
    const submitForm = (e) => {
      e.preventDefault();
      searchHidden.value = search.value;
      form.requestSubmit(submit);
    };

    // Update the value of the visible search field onload
    if (searchHidden.value !== '') {
      search.value = searchHidden.value;
    }

    extraSubmit.addEventListener('click', submitForm);
    search.addEventListener('keydown', (e) => {
      if (e.code === 'Enter') {
        submitForm(e);
      }
    });
  });
</script>
