{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'tw-py-24',
  ]
%}

<style>
  #{{ exposed['#id'] }}  #edit-actions {
    margin-bottom: 24px;
    margin-top: 24px;
    display: none;
  }

  #{{ exposed['#id'] }}  .form-item-type-group-training-material {
    display: none;
  }

  {# TODO: Globalize these styles #}
  .select2-container--default .select2-selection--multiple {
    border-radius: 0;
    border: 1px solid #747474 !important;
    color: #191919;
    padding: 0 !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-height: 42px;
  }

  .select2-container .select2-search--inline .select2-search__field {
    margin-top: 0;
    margin-left: 0;
    min-height: 42px;
    vertical-align: middle;
    padding-left: 1rem !important;
    padding: 0.5rem;
  }

  .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
  }
</style>

<div{{ attributes.addClass(classes) }}>
  {{ include('@analytics/access-request-modal.twig') }}

  <div class="container">
    <div class="row">
      <div class="col">
        {{ title_prefix }}
        {{ title }}
        {{ title_suffix }}

        {% if header %}
          <header>
            {{ header }}
          </header>
        {% endif %}
      </div>
    </div>

    <div class="row tw-mt-12">
      <div class="col">
        <div id="extra-search" class="tw-py-4">
          {{ include('@analytics/input-index-search.twig') }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3">
        <h3 class="tw-mt-0">Filters</h3>
        <div id="extra-actions" class="tw-py-4" style="border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5">
          <div class="js-active-filters tw-py-2"></div>
          {{ exposed.actions }}
        </div>
        {{ exposed }}
      </div>

      <div class="col">
        <div class="tw-flex tw-items-baseline">
          <h3 class="tw-mt-0">Results</h3>
          {% if footer %}
            <span class="tw-text-sm tw-ml-2">
              {{ footer }}
            </span>
          {% endif %}
        </div>

        {{ attachment_before }}

        {% if rows -%}
          {{ rows }}
        {% elseif empty -%}
          {% embed '@radix/alert/alert.twig' with {
            type: 'warning',
            heading: false,
            content: empty,
            alert_utility_classes: ['view-empty']
          } %}
          {% endembed %}
        {% endif %}

        {{ pager }}
        {{ attachment_after }}
        {{ more }}
      </div>
    </div>
  </div>
</div>

<script>
  // TODO: Extract this code to a separate file, and make functional for use across multiple views
  // TODO: Update this code per the standards in view-group-content.html.twig
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById("{{ exposed['#id'] }}");
    const submit = document.querySelector("#{{ exposed['#id'] }} .js-form-submit");
    const extraSubmit = document.querySelector("#extra-actions #edit-submit-global-search");
    const search = document.getElementById('index-search');
    const searchHidden = document.getElementById('edit-search');
    const submitForm = (e) => {
      e.preventDefault();
      searchHidden.value = search.value;
      form.requestSubmit(submit);
    };

    // Update the value of the visible search field onload
    if (searchHidden.value !== '') {
      search.value = searchHidden.value;
    }

    extraSubmit.addEventListener('click', submitForm);
    search.addEventListener('keydown', (e) => {
      if (e.code === 'Enter') {
        submitForm(e);
      }
    });
  });

  // Set the checked state of groupTrainingMaterialCheckbox based on the checked state of trainingMaterialCheckbox
  const trainingMaterialCheckbox = document.querySelector('input[name="type[training_material]"]');
  const groupTrainingMaterialCheckbox = document.querySelector('input[name="type[group_training_material]"]');

  if (trainingMaterialCheckbox) {
    trainingMaterialCheckbox.addEventListener('change', function() {
      groupTrainingMaterialCheckbox.checked = this.checked;
    });
  }

  // Add the selected filters to the view
  const filterCheckboxes = document.querySelectorAll('input[type=checkbox]:checked');
  const filterInputs = document.querySelectorAll('input[type=text]:not([id="edit-search"])');
  const filterList = document.querySelector('.js-active-filters');

  if (filterCheckboxes.length > 0) {
    filterCheckboxes.forEach(function(checkbox) {
      const id = checkbox.id;
      const label = document.querySelector('label[for="' + id + '"]');
      const labelText = label ? label.textContent : '';

      if (filterList) {
        let filterItem = document.createElement('span');
        filterItem.classList.add('badge', 'tw-py-1.5', 'tw-px-2.5', 'tw-text-[12px]', 'text-bg-gray-2', 'tw-mr-1', 'tw-mb-1');
        filterItem.textContent = labelText;
        filterList.appendChild(filterItem);
      }
    });
  }

  if (filterInputs.length > 0) {
    filterInputs.forEach(function(input) {
      const value = input.value.trim();
      if (value) {
        if (filterList) {
          let filterItem = document.createElement('span');
          filterItem.classList.add('badge', 'tw-py-1.5', 'tw-px-2.5', 'tw-text-[12px]', 'text-bg-gray-2', 'tw-mr-1', 'tw-mb-1');
          filterItem.textContent = value;
          filterList.appendChild(filterItem);
        }
      }
    });
  }

  if (filterList.children.length > 0) {
    const actionsDiv = document.querySelector("#extra-actions #edit-actions");
    let resetBtn = document.createElement('a');
    resetBtn.textContent = 'Clear filters';
    resetBtn.href = '/search'; // Make sure to begin with a slash
    resetBtn.classList.add('btn', 'btn-md', 'btn-gray');
    actionsDiv.appendChild(resetBtn);
  }
</script>
