{#
/**
 * @file
 * Template for a Block component.
 *
 * Available config:
 * - html_tag: The HTML tag for the block.
 * - utility_classes: An array of utility classes.
 */
#}
{% set classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}
{% set title_attributes = title_attributes.addClass('m-0') %}

<div {{ attributes|without('id').addClass(classes) }}>

	<div class="d-flex">
		{{ title_prefix }}
		{% if label %}
			{% block label %}
				<h5{{title_attributes}}>{{ label }}:
				</h5>
			{% endblock %}
		{% endif %}
		{{ title_suffix }}

		{% block content %}
			<div>{{ content }}</div>
		{% endblock %}

	</div>
</div>
