<div id="asu-card-carousel-container-2599153798639616276">
      
      <div id="cardCarouselContainer-2599153798639616276">
<div class="glide aligned-carousel slider-start glide--ltr glide--slider glide--swipeable" id="glide-6978" data-remove-side-background="false" data-image-auto-size="true" data-has-shadow="true" data-current-index="0"><div class="glide__track slider-start" data-glide-el="track">
  <ul class="glide__slides" style="transition: transform cubic-bezier(0.165, 0.84, 0.44, 1); width: 3264px; transform: translate3d(124px, 0px, 0px);">
  {% for row in rows %}
    <li class="glide__slide slider glide__slide--active" style="width: 384px; margin-right: 12px;" aria-hidden="false">
      <div class="sc-fqkvVR glpyHd card cards-components" data-testid="card-container">
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_media_image }}'] }}
      <div class="card-header" data-testid="card-title">
        <h3 class="card-title">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] }}</h3>
      </div>
      <div class="card-body" data-testid="card-body">
        <div><strong>Expertise in:</strong> {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_tags }}'] }}
        </div>
      </div>
      <div class="card-buttons">
        <div class="card-button">
          <a href="{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ view_node }}'] }}" class="btn btn-dark btn-responsive">Read expert profile</a>
        </div>
      </div>
    </div>
    </li>
  {% endfor %}
  </ul>
</div>
<div role="group" class="glide__bullets" data-glide-el="controls[nav]" data-testid="bullets-container">
  <button type="button" class="glide__bullet glide__bullet--active" data-glide-dir="=0" aria-label="Slide view 1"></button>
  <button type="button" class="glide__bullet" data-glide-dir="=1" aria-label="Slide view 2"></button>
  <button type="button" class="glide__bullet" data-glide-dir="=2" aria-label="Slide view 3"></button>
  <button type="button" class="glide__bullet" data-glide-dir="=3" aria-label="Slide view 4"></button>
  <button type="button" class="glide__bullet" data-glide-dir="=4" aria-label="Slide view 5"></button>
  <button type="button" class="glide__bullet" data-glide-dir="=5" aria-label="Slide view 6"></button>
</div>
<div class="glide__arrows" data-glide-el="controls" data-testid="arrows-container">
  <button type="button" class="glide__arrow glide__arrow--prev glide__arrow--disabled" data-glide-dir="<" aria-label="Previous slide"><svg class="svg-inline--fa fa-chevron-left fa-w-10 arrow-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg><!-- <span class="fas fa-chevron-left arrow-icon"></span> Font Awesome fontawesome.com --></button>
  <button type="button" class="glide__arrow glide__arrow--next" data-glide-dir=">" aria-label="Next slide"><svg class="svg-inline--fa fa-chevron-right fa-w-10 arrow-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <i class="fas fa-chevron-right arrow-icon"></i> Font Awesome fontawesome.com --></button>
</div>
</div>
</div>


<div class="asu-card-carousel-container block block-layout-builder block-inline-blockcard-carousel">
  
    
    

      <div id="asu-card-carousel-container-2303759280599815414">
      
      <div id="cardCarouselContainer-2303759280599815414"><div class="glide aligned-carousel slider-start glide--ltr glide--slider glide--swipeable" id="glide-373" data-remove-side-background="false" data-image-auto-size="true" data-has-shadow="true" data-current-index="0"><div class="glide__track slider-start" data-glide-el="track"><ul class="glide__slides" style="transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1); width: 2040px; transform: translate3d(124px, 0px, 0px);"><li class="glide__slide slider glide__slide--active" style="width: 384px; margin-right: 12px;"><div class="sc-dcJsrY bUIhFW card cards-components" data-testid="card-container"><img src="https://asu-newsroom-ws2.ddev.site/sites/default/files/styles/image/public/2024-11/20221206_hitendrachaturvedi_183_1.jpg?itok=yBUTM7u9" alt="Hitendra Chaturvedi" loading="lazy" decoding="async" fetchpriority="auto" class="card-img-top" data-testid="card-image"><div class="card-header" data-testid="card-title"><h3 class="card-title">teste</h3></div><div class="card-body" data-testid="card-body"><div><p>body</p></div></div><div class="card-buttons"><div class="card-button" data-testid="card-button"><a class="btn btn-gold" href="https://www.asu.edu" target="">News 1</a></div></div></div></li><li class="glide__slide slider" style="width: 384px; margin-left: 12px; margin-right: 12px;"><div class="sc-dcJsrY bUIhFW card cards-components" data-testid="card-container"><img src="https://asu-newsroom-ws2.ddev.site/sites/default/files/styles/image/public/2024-10/istock-1280004365.jpg?itok=pUINMZsQ" alt="Illustration of chess pieces on a chess board" loading="lazy" decoding="async" fetchpriority="auto" class="card-img-top" data-testid="card-image"><div class="card-header" data-testid="card-title"><h3 class="card-title">Test 2</h3></div><div class="card-body" data-testid="card-body"><div><p>Body 2</p></div></div><div class="card-buttons"><div class="card-button" data-testid="card-button"><a class="btn btn-gold" href="https://www.asu.edu" target="">button 2</a></div></div></div></li><li class="glide__slide slider" style="width: 384px; margin-left: 12px; margin-right: 12px;"><div class="sc-dcJsrY bUIhFW card cards-components" data-testid="card-container"><img src="https://asu-newsroom-ws2.ddev.site/sites/default/files/styles/image/public/2024-10/screenshot_2024-10-16_101759.png?itok=UWOgiGL5" alt="4th grade chess player" loading="lazy" decoding="async" fetchpriority="auto" class="card-img-top" data-testid="card-image"><div class="card-header" data-testid="card-title"><h3 class="card-title">test 3</h3></div><div class="card-body" data-testid="card-body"><div><p>body 3</p></div></div><div class="card-buttons"><div class="card-button" data-testid="card-button"><a class="btn btn-gold" href="https://www.asu.edu" target="">button 3</a></div></div></div></li><li class="glide__slide slider" style="width: 384px; margin-left: 12px; margin-right: 12px;"><div class="sc-dcJsrY bUIhFW card cards-components" data-testid="card-container"><img src="https://asu-newsroom-ws2.ddev.site/sites/default/files/styles/image/public/2024-10/screenshot_2024-10-24_094108.png?itok=SbN_BMey" alt="Over head view of a Phoenix neighborhood" loading="lazy" decoding="async" fetchpriority="auto" class="card-img-top" data-testid="card-image"><div class="card-header" data-testid="card-title"><h3 class="card-title">test 4 </h3></div><div class="card-body" data-testid="card-body"><div><p>body 4</p></div></div><div class="card-buttons"><div class="card-button" data-testid="card-button"><a class="btn btn-gold" href="https://www.asu.edu" target="">button 4</a></div></div></div></li><li class="glide__slide slider" style="width: 384px; margin-left: 12px;"><div class="sc-dcJsrY bUIhFW card cards-components" data-testid="card-container"><img src="https://asu-newsroom-ws2.ddev.site/sites/default/files/styles/image/public/2024-10/20241007_asuhonorhealthpartnership_0244.jpg?itok=3kEi--12" alt="A person receiving medial attention" loading="lazy" decoding="async" fetchpriority="auto" class="card-img-top" data-testid="card-image"><div class="card-header" data-testid="card-title"><h3 class="card-title">test 5</h3></div><div class="card-body" data-testid="card-body"><div><p>body 5</p></div></div><div class="card-buttons"><div class="card-button" data-testid="card-button"><a class="btn btn-gold" href="https://www.asu.edu" target="">button 5</a></div></div></div></li></ul></div><div role="group" class="glide__bullets" data-glide-el="controls[nav]" data-testid="bullets-container"><button type="button" class="glide__bullet glide__bullet--active" data-glide-dir="=0" aria-label="Slide view 1"></button><button type="button" class="glide__bullet" data-glide-dir="=1" aria-label="Slide view 2"></button><button type="button" class="glide__bullet" data-glide-dir="=2" aria-label="Slide view 3"></button></div><div class="glide__arrows" data-glide-el="controls" data-testid="arrows-container"><button type="button" class="glide__arrow glide__arrow--prev glide__arrow--disabled" data-glide-dir="<" aria-label="Previous slide"><svg class="svg-inline--fa fa-chevron-left arrow-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"></path></svg><!-- <span class="fas fa-chevron-left arrow-icon"></span> Font Awesome fontawesome.com --></button><button type="button" class="glide__arrow glide__arrow--next" data-glide-dir=">" aria-label="Next slide"><svg class="svg-inline--fa fa-chevron-right arrow-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path></svg><!-- <i class="fas fa-chevron-right arrow-icon"></i> Font Awesome fontawesome.com --></button></div></div></div>        

    <div class="card-wrapper" id="card-ab05e55a-8302-4b42-b525-c0cf0c94c007"></div>




    <div class="card-wrapper" id="card-a5de548a-0f02-4efd-bbb3-a5e5a317b99d"></div>




    <div class="card-wrapper" id="card-38ec2697-1e9b-4411-a6e5-f7ab75397d55"></div>




    <div class="card-wrapper" id="card-859c6648-6dc5-4d4b-93be-2da29ad81e60"></div>




    <div class="card-wrapper" id="card-c41d33ea-2930-4780-bb0c-20c49e215b1b"></div>




  

    </div>
  </div>