{#
/**
 * @file
 * Default theme implementation to display a Mailchimp subscription form block.
 */
#}
<div id="mc_embed_signup" class="ggl-mailchimp-form webform-submission-form spacing-top-72">
    <div class="ggl-article-body">
        <form class="webform-submission-form jmlm-forms uds-form" action="https://asu.us22.list-manage.com/subscribe/post?u=8661db81283418a20aa47b157&amp;id=ad0ea8a459&amp;f_id=0019d8e1f0" method="post" target="_blank">
            <div class="webform-form-wrapper">

                <div class="webform-required">
                    <span class="form-required">*</span> {{ 'required field'|t }}
                </div>

                <div class="js-form-item form-item js-form-type-email form-item-email js-form-item-email form-group">
                    <label for="edit-email" class="form-label js-form-required form-required">{{ 'Email Address'|t }}</label>
                    <input type="email" name="EMAIL" class="form-email required form-textfield form-control" id="edit-email" required="required" aria-required="true">
                </div>

                <div class="js-form-item form-item js-form-type-textfield form-item-first-name js-form-item-first-name form-group">
                    <label for="edit-fname" class="form-label form-required">{{ 'First Name'|t }}</label>
                    <input type="text" name="FNAME" class="form-text required form-textfield form-control" id="edit-fname" required="required" aria-required="true">
                </div>

                <div class="js-form-item form-item js-form-type-textfield form-item-last-name js-form-item-last-name form-group">
                    <label for="edit-lname" class="form-label form-required">{{ 'Last Name'|t }}</label>
                    <input type="text" name="LNAME" class="form-text required form-textfield form-control" id="edit-lname" required="required" aria-required="true">
                </div>

                <div class="js-form-item form-item js-form-type-textfield form-item-job-title js-form-item-job-title form-group">
                    <label for="edit-jobtitle" class="form-label form-required">{{ 'Job Title'|t }}</label>
                    <input type="text" name="JOBTITLE" class="form-text required form-textfield form-control" id="edit-jobtitle" required="required" aria-required="true">
                </div>

                <div class="js-form-item form-item js-form-type-textfield form-item-organization js-form-item-organization form-group">
                    <label for="edit-affiliation" class="form-label form-required">{{ 'Affiliation / Company / Organization'|t }}</label>
                    <input type="text" name="AFFILIATIO" class="form-text required form-textfield form-control" id="edit-affiliation" required="required" aria-required="true">
                </div>

                <div class="visually-hidden" aria-hidden="true">
                    <input type="text" name="b_8661db81283418a20aa47b157_ad0ea8a459" tabindex="-1" value="">
                </div>

                <div class="form-actions webform-actions">
                    <input type="submit" name="submit" class="webform-button--submit button--primary js-form-submit form-submit btn btn-secondary btn-gold" id="mc-embedded-subscribe">
                </div>
            </div>
        </form>
    </div>
</div>