{#
/**
 * @file
 * Template for a Node.
 */
#}
{%
    set classes = [
    'node',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    node.bundle|clean_class,
    node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}

    {% block content %}
        {% if not page %}
            <h2{{ title_attributes }}>
                <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
        {% endif %}

        {% if display_submitted %}
            <footer>
                {{ author_picture }}
                <div{{ author_attributes }}>
                    {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                    {{ metadata }}
                </div>
            </footer>
        {% endif %}

        <div {{ content_attributes }}>
            {{ content }}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="blog-cat blog-cat-twig">
                            {% for tag in node.field_categories %}
                                {%  if  tag.entity.name.value  == "Academic" %}
                                    <a class="btn btn-tag btn-tag-alt-white {{ tag.entity.name.value }}" href="/parent-blog/academic" >{{ tag.entity.name.value }}</a>
                                {% endif %}
                                {%  if  tag.entity.name.value  == "Preparing for college" %}
                                    <a class="btn btn-tag btn-tag-alt-white {{ tag.entity.name.value }}" href="/parent-blog/preparing-college" >{{ tag.entity.name.value }}</a>
                                {% endif %}
                                {%  if  tag.entity.name.value  == "College life" %}
                                    <a class="btn btn-tag btn-tag-alt-white {{ tag.entity.name.value }}" href="/parent-blog/college-life" >{{ tag.entity.name.value }}</a>
                                {% endif %}
                                {%  if  tag.entity.name.value  == "Financial" %}
                                    <a class="btn btn-tag btn-tag-alt-white {{ tag.entity.name.value }}" href="/parent-blog/financial" >{{ tag.entity.name.value }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p>&nbsp;</p>
                        {# <div class="blog-svg-image-top block"><img src="{{ svg_img }}" alt="{{ svg_alt_tag}}"/></div> #}
						{{ video_image_content | raw  }}
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="center-body">
                            <p class="blog-nid"> {{ nid }} </p>
                            {#   <div clas="blog_menu pt-4 pb-4 ">{{ blog_menu }}</div>#}

                            <div class="blog-ind-post-body"> {{  node.body.value|raw }} </div>
                            {# {{ drupal_entity('block_content', 167) }} #}
                            <div class="blog_post_buttons">
                                <div class="prev"><a href='{{ previous_link }}' class='btn btn-maroon'><span class='blog-pager-previous'>Previous</span></a>
                                </div>
                                <div class="next"><a href='{{ next_link }}' class='btn btn-maroon'><span class='blog-pager-next'>Next</span></a>
                                </div>
                            </div>
                        </div>

                        <div class="related-posts"><h3>Related posts</h3>{{ related_posts_view }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</article>



