{#
@file
The template for the Data Dictionary or Glossary Term search result teaser.

Available variables:
- favorite: Boolean. Whether or not to show the favorites icon.
- title: The title.
- url: The url to the node.
- metadata: An array of string metadata.
#}

{% from '@analytics/macros.html.twig' import dataDictionaryMeta %}

<div class="tw-border tw-border-[#d0d0d0] tw-border-solid tw-bg-white tw-p-4">
  <div class="row gy-2 align-items-center">
    <div class="col-auto">
      {{ favorites_link }}
    </div>

    <div class="col">
      <h4 class="tw-my-0 tw-leading-none tw-mt-0.5">
        <a class="tw-no-underline" href="{{ url }}">{{ title }}</a>
      </h4>

      <div class="tw-mt-2 tw-mb-0 tw-leading-none">
        {% if metadata %}
          {{ metadata }}
        {% else %}
          {{ dataDictionaryMeta(node) }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
