<div
  class="clas-news-react-base"
  data-view="{{ view }}"
  data-feed="{{ news_feed_url }}"
  data-feed-section="{{ section }}"
  data-items="{{ items }}"
  data-header-title="{{ header_title }}"
  data-cta-link="https://news.asu.edu/">
</div>
