{% if page.header %}
  <header>
      {{ page.header }}
  </header>
{% endif %}
{% set unpublished = is_published is same as '0' ? 'node--unpublished' : '' %}
<main>
  <div class="page page-wrapper-webspark {{ unpublished }}">
    <div class="pt-5 pb-5">

      {% if page.pre_content %}
        <div class="page__pre-content center-container max-size-container">
          <div class="">
            {{ page.pre_content }}
          </div>
        </div>
      {% endif %}

      <div class="container">
        {% if page.pre_degree_content %}
          <div id="skip-to-content" class="page__content center-container max-size-container">
            {{ page.pre_degree_content }}
          </div>
        {% endif %}
      </div>

      {% if page.content %}
        <div id="skip-to-content" class="page__content center-container max-size-container">
          {{ page.content }}
        </div>
      {% endif %}

      {% if page.search_sidebar %}
        <div class="search_sidebar">
          {{ page.search_sidebar }}
        </div>
      {% endif %}

      {% if page.search_content %}
        <div class="search_content">
          {{ page.search_content }}
        </div>
      {% endif %}
    </div>
  </div>
</main>
{% if page.footer %}
  <footer class="page__footer" id="asu-footer" role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
