{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the fieldset element.
 * - errors: (optional) Any errors for this fieldset element, may not be set.
 * - required: Boolean indicating whether the fieldeset element is required.
 * - description: The description element containing the following properties:
 *   - content: The description content of the fieldset.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the fieldset.
 * - prefix: The content to add before the fieldset children.
 * - suffix: The content to add after the fieldset children.
 *
 * @see template_preprocess_fieldset()
 */
#}

{% set classes = [
  'js-form-item',
  'form-item',
  'js-form-wrapper',
  'form-wrapper',
  'mb-0'
] %}
{# Since this template comes from our own preprocess function, we no longer have access to all the variables #}
{% set name = element['#title'] %}
{# Note the replace of the space and not the underscores #}
{% set target = name|replace({' ': '-'})|lower %}

<fieldset{{ attributes.addClass(classes) }}>
  <legend class="mb-0">
    <button type="button"
      class="tw-bg-transparent tw-border-none tw-px-0 tw-py-4 tw-font-bold tw-flex tw-items-center tw-justify-between tw-w-full js-collapse-btn"
      data-bs-toggle="collapse"
      data-bs-target="#collapse-{{ target }}"
      aria-expanded="false"
      aria-controls="collapse-{{ target }}"
      style="font-size: 20px">
      {{ name }}
      <i class="js-fa-icon fa-solid fa-circle-plus"></i>
      <i class="js-fa-icon fa-solid fa-circle-minus tw-hidden"></i>
    </button>
  </legend>

  <div class="collapse" id="collapse-{{ target }}">
    <div class="tw-pb-3 tw-overflow-y-auto tw-max-h-48">
      {% if errors %}
        <small class="invalid-feedback">
          <span title="Alert" class="fa fa-icon fa-exclamation-triangle"></span>
          {{ errors }}
        </small>
      {% endif %}

      {% if prefix %}
        <span class="field-prefix">{{ prefix }}</span>
      {% endif %}

      {{ children }}

      {% if suffix %}
        <span class="field-suffix">{{ suffix }}</span>
      {% endif %}

      {% if description.content %}
        <small{{ description.attributes.addClass('description', 'form-text', 'text-muted') }}>{{ description.content }}</small>
      {% endif %}
    </div>
  </div>
</fieldset>
