{#
/**
 * @file
 * Template for a Node.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'design-resource--featured',
  'col',
  'col-xs-12',
  'col-sm-4',
]
%}
{% set link = content.field_resource_link|render|striptags|trim %}
{% set file = content.field_resource_file|render|striptags|trim %}
{% set image = file_url(content.field_media[0]['#media'].field_media_image.entity.uri.value) %}

{% if file is not empty %}
{% set link = file %}
{% endif %}

<article{{ attributes.addClass(classes) }}>
  {{ title_suffix }}
  {% block content %}
  <div class="card-wrapper">
    <div class="card card-hover">
      <div class="design-resource--featured--image mb-5">
        <img src="{{ image }}">
      </div>
      <div class="design-resource--featured--body card-body ">
        <div class="story--headline">
        <h3>{{ label|render|striptags|trim }}</h3>
        </div>
        <div class="story-content">
          <p>{{ content.body|render|striptags|trim }}</p>
        </div>
      </div>
    {% if content.field_resource_link %}
      <a class="stretched-link" href="{{ link }}" target="_blank" rel="noopener"></a>
    {% endif %}
  </div>
    </div>

    {% endblock %}
</article>