<a
  href="{{ url }}"
  class="btn{{ size }} btn-{{ color }}"
  target="{{ target }}"
  data-ga-{{ component }}-section="{{ heading_ga | lower }}"
  data-ga-{{ component }}="{{ label | lower }}"
>
  {{ label }}
</a>
