<div class="container {{ classes }}">
  <div class="row">
    <div class="col">
      {{ content }}
    </div>
    <div class="col-4 tw-space-y-8">
      <div>
        <h3 class="tw-mt-0">Source System Contacts</h3>
        {{ contacts }}
      </div>
      <div>
        <h3 class="tw-mt-0">Key Links</h3>
        {{ links }}
      </div>
      <div>
        <h3 class="tw-mt-0">Questions?</h3>
        {{ questions }}
      </div>
    </div>
  </div>
</div>
